.control {
	width: 100%;
	height: 5rem;
	display: flex;
	align-items: center;
	color: #f0f8ff;
	background-color: #3d434d;

	.playControls {
		width: 30%;
		height: 100%;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		.playController {
			margin-inline: 0.5em;
		}
	}

	.playProgress {
		width: 40%;
		height: 100%;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		&Time {
			margin-inline: 1em;
		}

		&Bar {
			width: 100%;
		}
	}

	.others {
		width: 30%;
		height: 100%;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		.mediaVolume {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.playEndCallback {
			margin: 0 0.2em;

			&Button {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 1.5em;
				height: 1.5em;
				border-radius: 0.3em;
				cursor: pointer;
				transition: all 0.2s ease;
				box-shadow: 0 0 3px #f0f8ff;

				&:hover {
					filter: drop-shadow(0 0 2px #f0f8ff);
				}
			}
		}
	}

	:global {
		.ant-slider {
			&-handle {
				&::before {
					display: none;
				}

				&::after {
					display: none;
				}
			}

			&-rail {
				background-color: rgba(255, 255, 255, 0.4);
			}

			&-track {
				background-color: #ff9c40;
				transition: all 0.1s ease;
			}

			&:hover {
				.ant-slider-rail {
					background-color: rgba(255, 255, 255, 0.5);
				}

				.ant-slider-track {
					background-color: #feb26b;
					transform: scaleY(1.5);
				}
			}
		}
	}
}
